In [5]:
import pandas as pd

In [6]:
data_file = "Resources/weather_data.csv"

In [7]:
cities_df=pd.read_csv (data_file)
cities_df.head()

,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,San Quintín,30.4833,-115.9500,59.14,51,5,5.79,MX,1610605952
1,Atuona,-9.8000,-139.0333,77.54,78,42,11.34,PF,1610605822
2,Sirpur,19.4833,79.6000,84.40,20,0,3.85,IN,1610605954
3,Codrington,-38.2667,141.9667,58.91,64,96,15.48,AU,1610605955
4,Bengkulu,-3.8004,102.2655,84.92,61,100,7.25,ID,1610605957

In [8]:
cities_df.to_html('table.html',index=True, classes=['table','table-striped','table-hover'])